<header>
  <h2>Liste des films</h2>
</header>

<a routerLink="/films/add" class="btn btn-outline-primary btn-sm my-3">Ajouter un film</a>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Date Release</th>
      <th>Director</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let film of films$ | async">
      <td>{{ film.id }}</td>
      <td>{{ film.title }}</td>
      <td>{{ film.released | date }}</td>
      <td>{{ film.director }}</td>
      <td class="text-end">
        <div class="btn-group">
          <a [routerLink]="['/films/edit', film.id]" class="btn btn-outline-dark btn-sm">Modifier</a>
          <button class="btn btn-outline-dark btn-sm" (click)="remove(film.id!)">Supprimer</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
