<div class="container-fluid">
  <header class="pt-5">
    <h1>Formation Angular</h1>
    <hr />
  </header>
  <nav>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/product">Produit</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/users">Utilisateurs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/signup">Inscription</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/films">Liste des films</a>
      </li>
    </ul>
  </nav>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer>
    <hr />
    <p class="text-center small">Angular - Juin 2022 - Dawan FOAD</p>
  </footer>
</div>
